body {
  background-color: burlywood;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-position: 100% 0.4em;
}
a:hover {
  color: white;
}
li a:hover:not(.active) {
  background-color: burlywood;
}

.dropbtn {
  background-color: burlywood;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
}
.dropbtn1 {
  background-color: teal;
  border-radius: 20%;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: cornsilk;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: burlywood;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.login-icon text-center {
  width: 120px;
  height: 60px;
}
